.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .card{
        width: 680px;
        height: 520px;
        display: flex;
        flex-direction: column;
        padding: 2% 3%;
        .list-group{
            margin: 5% 0;
            overflow: auto;
        }
        h3{
            margin-bottom: 32px;
        }
        .input-row{
            display: flex;
            justify-content: space-around;
            input{
                width: 65%;
            }
        }
    }
}